*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zain', sans-serif;
}

header {
    background-color: #010911;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    margin: 10px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.2em;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #005bb5;
    color: #f9f9f9;
    border-radius: 5px;
}

main {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background-color: #fff;
    border: 5px solid #ddd;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card ul li {
    margin: 5px 0;
}


.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}
