

/* Apply styles for larger screens */
@media (min-width: 768px) {
    nav ul {
        display: flex; /* Show menu inline */
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
    }

    .hamburger {
        display: none; /* Hide the hamburger menu */
    }
}

@media (min-width: 1024px) {
    main {
        max-width: 800px; /* Limit the main content width */
        margin: 0 auto;
        padding: 2rem;
    }

    .temples-gallery {
        grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
        gap: 1.5rem;
    }

    figure {
        padding: 1.6rem;
        font-size: 1rem;
    }
}
